<!DOCTYPE html>
<html lang="ja">
<head>
  <title>削除ページ</title>
  <%- include("./head"); %>
</head>
<body>
<%- include("./header"); %>
<main>
  <div class="blog-delete">
    <form action="/blog/delete/<%= singleBlog._id %>" method="POST">
      <h1><%= singleBlog.title %></h1>
      <img src="/public/images<%= singleBlog.image %>" alt="blog-image"/>
      <p><%= singleBlog.textBody %></p>
      <button type="submit">削除する</button>
    </form>
  </div>
</main>
<%- include("./footer"); %>
</body>
</html>